$darkblue: #142e4e;
$lightblue: #3584e4;

.rootcontainer { 
  min-height: 100vh;
  height: 100%;
  &>div {
    height: calc(100% - 60px);
  }
  background-color: var(--color-canvas);
  position: relative;
  .fixedheader{
    position:fixed;
    width: 100vw;
    height: 60px;
    z-index: 1;
  }
  .doccontainer{
    position: fixed;
    top:60px;
    z-index: 0;
    width: 100vw;
    [data-overlay-container="true"] {
      overflow-y: auto;
    }
  }
}


.logo {
  height: 60px;
  width: auto;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $lightblue #ffffff;
}


*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: $lightblue;
  border-radius: 20px;
  border:0px solid $darkblue;
}


/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

